/*! PhotoSwipe Default UI CSS by Dmitry Semenov | photoswipe.com | MIT license */
/*

	Contents:

	1. Buttons
	2. Share modal and links
	3. Index indicator ("1 of X" counter)
	4. Caption
	5. Loading indicator
	6. Additional styles (root element, top bar, idle state, hidden state, etc.)

*/
/*
	
	1. Buttons

 */
/* <button> css reset */
.pswp__button {
  width: 44px;
  height: 44px;
  position: relative;
  background: none;
  cursor: pointer;
  overflow: visible;
  -webkit-appearance: none;
  display: block;
  border: 0;
  padding: 0;
  margin: 0;
  float: right;
  opacity: 0.75;
  -webkit-transition: opacity 0.2s;
          transition: opacity 0.2s;
  -webkit-box-shadow: none;
          box-shadow: none; }
  .pswp__button:focus, .pswp__button:hover {
    opacity: 1; }
  .pswp__button:active {
    outline: none;
    opacity: 0.9; }
  .pswp__button::-moz-focus-inner {
    padding: 0;
    border: 0; }

/* pswp__ui--over-close class it added when mouse is over element that should close gallery */
.pswp__ui--over-close .pswp__button--close {
  opacity: 1; }

.pswp__button,
.pswp__button--arrow--left:before,
.pswp__button--arrow--right:before {
  background: url(default-skin.png) 0 0 no-repeat;
  background-size: 264px 88px;
  width: 44px;
  height: 44px; }

@media (-webkit-min-device-pixel-ratio: 1.1), (-webkit-min-device-pixel-ratio: 1.09375), (min-resolution: 105dpi), (min-resolution: 1.1dppx) {
  /* Serve SVG sprite if browser supports SVG and resolution is more than 105dpi */
  .pswp--svg .pswp__button,
  .pswp--svg .pswp__button--arrow--left:before,
  .pswp--svg .pswp__button--arrow--right:before {
    background-image: url(default-skin.svg); }
  .pswp--svg .pswp__button--arrow--left,
  .pswp--svg .pswp__button--arrow--right {
    background: none; } }

.pswp__button--close {
  background-position: 0 -44px; }

.pswp__button--share {
  background-position: -44px -44px; }

.pswp__button--fs {
  display: none; }

.pswp--supports-fs .pswp__button--fs {
  display: block; }

.pswp--fs .pswp__button--fs {
  background-position: -44px 0; }

.pswp__button--zoom {
  display: none;
  background-position: -88px 0; }

.pswp--zoom-allowed .pswp__button--zoom {
  display: block; }

.pswp--zoomed-in .pswp__button--zoom {
  background-position: -132px 0; }

/* no arrows on touch screens */
.pswp--touch .pswp__button--arrow--left,
.pswp--touch .pswp__button--arrow--right {
  visibility: hidden; }

/*
	Arrow buttons hit area
	(icon is added to :before pseudo-element)
*/
.pswp__button--arrow--left,
.pswp__button--arrow--right {
  background: none;
  top: 50%;
  margin-top: -50px;
  width: 70px;
  height: 100px;
  position: absolute; }

.pswp__button--arrow--left {
  left: 0; }

.pswp__button--arrow--right {
  right: 0; }

.pswp__button--arrow--left:before,
.pswp__button--arrow--right:before {
  content: '';
  top: 35px;
  background-color: rgba(0, 0, 0, 0.3);
  height: 30px;
  width: 32px;
  position: absolute; }

.pswp__button--arrow--left:before {
  left: 6px;
  background-position: -138px -44px; }

.pswp__button--arrow--right:before {
  right: 6px;
  background-position: -94px -44px; }

/*

	2. Share modal/popup and links

 */
.pswp__counter,
.pswp__share-modal {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none; }

.pswp__share-modal {
  display: block;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 10px;
  position: absolute;
  z-index: 1600;
  opacity: 0;
  -webkit-transition: opacity 0.25s ease-out;
          transition: opacity 0.25s ease-out;
  -webkit-backface-visibility: hidden;
  will-change: opacity; }

.pswp__share-modal--hidden {
  display: none; }

.pswp__share-tooltip {
  z-index: 1620;
  position: absolute;
  background: #FFF;
  top: 56px;
  border-radius: 2px;
  display: block;
  width: auto;
  right: 44px;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  -webkit-transform: translateY(6px);
      -ms-transform: translateY(6px);
          transform: translateY(6px);
  -webkit-transition: -webkit-transform 0.25s;
          transition: transform 0.25s;
  -webkit-backface-visibility: hidden;
  will-change: transform; }
  .pswp__share-tooltip a {
    display: block;
    padding: 8px 12px;
    color: #000;
    text-decoration: none;
    font-size: 14px;
    line-height: 18px; }
    .pswp__share-tooltip a:hover {
      text-decoration: none;
      color: #000; }
    .pswp__share-tooltip a:first-child {
      /* round corners on the first/last list item */
      border-radius: 2px 2px 0 0; }
    .pswp__share-tooltip a:last-child {
      border-radius: 0 0 2px 2px; }

.pswp__share-modal--fade-in {
  opacity: 1; }
  .pswp__share-modal--fade-in .pswp__share-tooltip {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0); }

/* increase size of share links on touch devices */
.pswp--touch .pswp__share-tooltip a {
  padding: 16px 12px; }

a.pswp__share--facebook:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  top: -12px;
  right: 15px;
  border: 6px solid transparent;
  border-bottom-color: #FFF;
  -webkit-pointer-events: none;
  -moz-pointer-events: none;
  pointer-events: none; }

a.pswp__share--facebook:hover {
  background: #3E5C9A;
  color: #FFF; }
  a.pswp__share--facebook:hover:before {
    border-bottom-color: #3E5C9A; }

a.pswp__share--twitter:hover {
  background: #55ACEE;
  color: #FFF; }

a.pswp__share--pinterest:hover {
  background: #CCC;
  color: #CE272D; }

a.pswp__share--download:hover {
  background: #DDD; }

/*

	3. Index indicator ("1 of X" counter)

 */
.pswp__counter {
  position: absolute;
  left: 0;
  top: 0;
  height: 44px;
  font-size: 13px;
  line-height: 44px;
  color: #FFF;
  opacity: 0.75;
  padding: 0 10px; }

/*
	
	4. Caption

 */
.pswp__caption {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  min-height: 44px; }
  .pswp__caption small {
    font-size: 11px;
    color: #BBB; }

.pswp__caption__center {
  text-align: left;
  max-width: 460px;
  margin: 0 auto;
  font-size: 13px;
  padding: 10px;
  line-height: 20px;
  color: #CCC; }

.pswp__caption--empty {
  display: none; }

/* Fake caption element, used to calculate height of next/prev image */
.pswp__caption--fake {
  visibility: hidden; }

/*

	5. Loading indicator (preloader)

	You can play with it here - http://codepen.io/dimsemenov/pen/yyBWoR

 */
.pswp__preloader {
  width: 44px;
  height: 44px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -22px;
  opacity: 0;
  -webkit-transition: opacity 0.25s ease-out;
          transition: opacity 0.25s ease-out;
  will-change: opacity;
  direction: ltr; }

.pswp__preloader__icn {
  width: 20px;
  height: 20px;
  margin: 12px; }

.pswp__preloader--active {
  opacity: 1; }
  .pswp__preloader--active .pswp__preloader__icn {
    /* We use .gif in browsers that don't support CSS animation */
    background: url(preloader.gif) 0 0 no-repeat; }

.pswp--css_animation .pswp__preloader--active {
  opacity: 1; }
  .pswp--css_animation .pswp__preloader--active .pswp__preloader__icn {
    -webkit-animation: clockwise 500ms linear infinite;
            animation: clockwise 500ms linear infinite; }
  .pswp--css_animation .pswp__preloader--active .pswp__preloader__donut {
    -webkit-animation: donut-rotate 1000ms cubic-bezier(0.4, 0, 0.22, 1) infinite;
            animation: donut-rotate 1000ms cubic-bezier(0.4, 0, 0.22, 1) infinite; }

.pswp--css_animation .pswp__preloader__icn {
  background: none;
  opacity: 0.75;
  width: 14px;
  height: 14px;
  position: absolute;
  left: 15px;
  top: 15px;
  margin: 0; }

.pswp--css_animation .pswp__preloader__cut {
  /* 
			The idea of animating inner circle is based on Polymer ("material") loading indicator 
			 by Keanu Lee https://blog.keanulee.com/2014/10/20/the-tale-of-three-spinners.html
		*/
  position: relative;
  width: 7px;
  height: 14px;
  overflow: hidden; }

.pswp--css_animation .pswp__preloader__donut {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 14px;
  height: 14px;
  border: 2px solid #FFF;
  border-radius: 50%;
  border-left-color: transparent;
  border-bottom-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  background: none;
  margin: 0; }

@media screen and (max-width: 1024px) {
  .pswp__preloader {
    position: relative;
    left: auto;
    top: auto;
    margin: 0;
    float: right; } }

@-webkit-keyframes clockwise {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes clockwise {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@-webkit-keyframes donut-rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  50% {
    -webkit-transform: rotate(-140deg);
            transform: rotate(-140deg); }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0); } }

@keyframes donut-rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  50% {
    -webkit-transform: rotate(-140deg);
            transform: rotate(-140deg); }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0); } }

/*
	
	6. Additional styles

 */
/* root element of UI */
.pswp__ui {
  -webkit-font-smoothing: auto;
  visibility: visible;
  opacity: 1;
  z-index: 1550; }

/* top black bar with buttons and "1 of X" indicator */
.pswp__top-bar {
  position: absolute;
  left: 0;
  top: 0;
  height: 44px;
  width: 100%; }

.pswp__caption,
.pswp__top-bar,
.pswp--has_mouse .pswp__button--arrow--left,
.pswp--has_mouse .pswp__button--arrow--right {
  -webkit-backface-visibility: hidden;
  will-change: opacity;
  -webkit-transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1);
          transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1); }

/* pswp--has_mouse class is added only when two subsequent mousemove events occur */
.pswp--has_mouse .pswp__button--arrow--left,
.pswp--has_mouse .pswp__button--arrow--right {
  visibility: visible; }

.pswp__top-bar,
.pswp__caption {
  background-color: rgba(0, 0, 0, 0.5); }

/* pswp__ui--fit class is added when main image "fits" between top bar and bottom bar (caption) */
.pswp__ui--fit .pswp__top-bar,
.pswp__ui--fit .pswp__caption {
  background-color: rgba(0, 0, 0, 0.3); }

/* pswp__ui--idle class is added when mouse isn't moving for several seconds (JS option timeToIdle) */
.pswp__ui--idle .pswp__top-bar {
  opacity: 0; }

.pswp__ui--idle .pswp__button--arrow--left,
.pswp__ui--idle .pswp__button--arrow--right {
  opacity: 0; }

/*
	pswp__ui--hidden class is added when controls are hidden
	e.g. when user taps to toggle visibility of controls
*/
.pswp__ui--hidden .pswp__top-bar,
.pswp__ui--hidden .pswp__caption,
.pswp__ui--hidden .pswp__button--arrow--left,
.pswp__ui--hidden .pswp__button--arrow--right {
  /* Force paint & create composition layer for controls. */
  opacity: 0.001; }

/* pswp__ui--one-slide class is added when there is just one item in gallery */
.pswp__ui--one-slide .pswp__button--arrow--left,
.pswp__ui--one-slide .pswp__button--arrow--right,
.pswp__ui--one-slide .pswp__counter {
  display: none; }

.pswp__element--disabled {
  display: none !important; }

.pswp--minimal--dark .pswp__top-bar {
  background: none; }

.pswp figure{
  display: block;
}

.pswp a{
  color: #3169B3;
}
a:hover {
  color: #C00;
}

.pswp{
  font-family: "myriad-pro","Myriad Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga", "kern";

}



/*code {
  background: #F8F8F8;
  padding: .1em .4em;
  color: #c82829;
  font-size: 14px;
}*/
code, pre {
  font-family:  Menlo, Monaco, monospace;
  font-size: 12px;
  line-height: 1.45;
  color: #333;
  tab-size: 4;
}
.pswp pre{
  padding: 0;
  margin: 0;
  overflow: auto;
  
  word-wrap: normal;

  text-rendering: auto;
  -webkit-font-smoothing: auto;
}
.pswp code{
  padding: 0;
  padding: 3px 5px;
  margin: 0;
  background: #f2f2f2;
  border-radius: 2px;
}
.pswp precode {
  background: none;
  padding: 0;
  border-radius: 0;

  
}
.pswp h3 code {
  font-size: 22px;
  font-weight: normal;
  padding: 6px 10px;
}
.pswp h3 code.default {
  font-size: 12px;
  padding: 0;
  background: none;
  opacity: 0.7;
}

.docs p {
  margin: 0;
  padding-bottom: 12px;
  padding-top: 12px;
}
.docs h1 {
  margin-bottom: 32px;
}
.docs h1 a {
  text-decoration: none;
}
.docs h1 a:hover {
  text-decoration: underline;
}
.docs h2 {
  margin: 0;
  margin: 36px 0 12px;
}
.docs h3 {
  margin: 0;
  margin: 24px 0 8px 0;
  font-size: 22px;
  line-height: 28px;
}
.docs ul,
.docs ol {
  margin-top: 8px;
  margin-bottom: 8px;
}
.docs li {
  margin: 0;
  padding: 4px 0;
}

.docs-menu {
  position: absolute;
  width: 160px;
  left: 0;
  top: 106px;
  
}

.docs-menu ul {
  list-style: none;
  margin: 0;
  padding: 25px 0;

  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
}

.docs-menu__ad {
  padding: 25px 10px;
  border-bottom: 1px solid #CCC;
  font-size: 13px;
  line-height: 17px;
  position: relative;
}
.docs-menu a {
  text-decoration: none;
  width: 100%;
}
a.docs-logo {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 0;
  text-decoration: none;
}
.docs-menu li {
  list-style: none;
  margin: 0;
  padding:0;
}
a.docs-menu__item--active {
  color: #222;
  font-weight: normal;
}

.codepen-embed {
  margin-left: -30px;
  padding: 16px 30px;
  width: 100%;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background-color: #f8f8f8;
  height: 600px;
  
}
.codepen-embed--disabled {
  height: auto;
}
.codepen-embed p {
  margin-bottom: 0;
}

.docs .highlight {
  border-radius: 2px;
  margin-left: -30px;
padding: 16px 30px;
width: 100%;
-webkit-box-sizing: content-box;
-moz-box-sizing: content-box;
box-sizing: content-box;
margin-bottom: 26px;
}




/* Syntax highlighter styles (for docs) */
.highlight { background-color: #f8f8f8 }
.c { color: #888; } /* Comment */
.err { color: #a61717; background-color: #e3d2d2 } /* Error */
.k { color: #a71d5d; } /* Keyword */
.o { color: #000000; } /* Operator */
.cm { color: #888; } /* Comment.Multiline */
.cp { color: #888; font-weight: bold;} /* Comment.Preproc */
.c1 { color: #888;  } /* Comment.Single */
.cs { color: #888; font-weight: bold; } /* Comment.Special */
.gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.ge { color: #000000; } /* Generic.Emph */
.gr { color: #aa0000 } /* Generic.Error */
.gh { color: #888 } /* Generic.Heading */
.gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.go { color: #888888 } /* Generic.Output */
.gp { color: #555555 } /* Generic.Prompt */
.gs { font-weight: bold } /* Generic.Strong */
.gu { color: #aaaaaa } /* Generic.Subheading */
.gt { color: #aa0000 } /* Generic.Traceback */
.kc { color: #0086b3; } /* Keyword.Constant */
.kd { color: #a71d5d; } /* Keyword.Declaration */
.kn { color: #000000; font-weight: bold } /* Keyword.Namespace */
.kp { color: #000000; font-weight: bold } /* Keyword.Pseudo */
.kr { color: #000000; font-weight: bold } /* Keyword.Reserved */
.kt { color: #795da3; } /* Keyword.Type */
.m { color: #009999 } /* Literal.Number */
.s { color: #df5000 } /* Literal.String */
.na { color: #a71d5d } /* Name.Attribute */
.nb { color: #0086B3 } /* Name.Builtin */
.nc { color: #795da3; } /* Name.Class */
.no { color: #a71d5d } /* Name.Constant */
.nd { color: #3c5d5d; font-weight: bold } /* Name.Decorator */
.ni { color: #800080 } /* Name.Entity */
.ne { color: #990000; font-weight: bold } /* Name.Exception */
.nf { color: #990000; font-weight: bold } /* Name.Function */
.nl { color: #990000; font-weight: bold } /* Name.Label */
.nn { color: #555555 } /* Name.Namespace */
.nt { color: #0086b3 } /* Name.Tag */
.nv { color: #a71d5d } /* Name.Variable */
.ow { color: #000000; font-weight: bold } /* Operator.Word */
.w { color: #bbbbbb } /* Text.Whitespace */
.mf { color: #009999 } /* Literal.Number.Float */
.mh { color: #009999 } /* Literal.Number.Hex */
.mi { color: #009999 } /* Literal.Number.Integer */
.mo { color: #009999 } /* Literal.Number.Oct */
.sb { color: #df5000 } /* Literal.String.Backtick */
.sc { color: #df5000 } /* Literal.String.Char */
.sd { color: #df5000 } /* Literal.String.Doc */
.s2 { color: #df5000 } /* Literal.String.Double */
.se { color: #df5000 } /* Literal.String.Escape */
.sh { color: #df5000 } /* Literal.String.Heredoc */
.si { color: #df5000 } /* Literal.String.Interpol */
.sx { color: #df5000 } /* Literal.String.Other */
.sr { color: #009926 } /* Literal.String.Regex */
.s1 { color: #df5000 } /* Literal.String.Single */
.ss { color: #990073 } /* Literal.String.Symbol */
.bp { color: #888 } /* Name.Builtin.Pseudo */
.vc { color: #a71d5d } /* Name.Variable.Class */
.vg { color: #a71d5d } /* Name.Variable.Global */
.vi { color: #a71d5d } /* Name.Variable.Instance */
.il { color: #009999 } /* Literal.Number.Integer.Long */


.language-css .k {
  color: #0086b3;
}
.language-css .nt {
  color: #63a35c;
}




/*body.open-sans {
  font-family: "open-sans";
}
.futura-pt {

}
.futura-pt p {
  font-family: "adelle";
}
.futura-pt h1, .futura-pt h2 {
  font-family: "futura-pt";
  text-transform: uppercase;
}
.futura-pt h3 {
  font-weight: bold;
}
*/


.pswp img {
  width: auto;
  max-width: 100%;
  height: auto;
  border: 0;
}


.video {
  width: 100%%;
  margin: 0 0 24px 0;
}
.video__container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  padding-top: 35px;
  height: 0;
  overflow: hidden;
}
.video__container iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}
.video-desc {
  width: 100%;
  max-width: 740px;
  margin: 12px auto;
}


.pswp p{
  margin: 0 0 12px;
}
.pswp ul{
  list-style: disc;
}
ul, ol {
  padding: 0;
  margin: 0 0 12px 25px;
}
.pswp li{
  margin: 0 0 12px 0;
}
.pswp h1, .pswp h2, .pswp h3, .pswp h4, .pswp h5, .pswp h6 {
  margin: 0;
  font-weight: normal;
}


.pswp h1 {
  font-size: 48px;
  line-height: 1;
  margin: 0;
  font-weight: 600;
  margin-bottom: 6px;
}

.row--heading {
  position: relative;
}
.section--head p {
  text-align: left;
  font-size: 26px;
  line-height: 32px;
  margin-bottom: 24px;

   font-size: 19px;
  line-height: 29px;
  
}


.section--head .github-button {
  position: absolute;
  right:0;
  top:0;
}
.row--nav {
  text-align: center;
  font-size: 32px;
  line-height: 1.1; 
}
.navigation {
  width: 100%;
  background: #F7F7F7;
  position: relative;
  padding: 30px 0;
}
.navigation a {
  text-decoration: none;
  border-bottom: 1px solid #92ABCD;
}

a.twitter-nav-link {
  border: 0;
  margin: 0 0.2em;
}
.twitter-nav-link span {
  border-bottom: 1px solid #92ABCD;
}
.navigation a:hover,
.twitter-nav-link:hover span {
  border-bottom-color: #C00;
}
.twitter-nav-link:before {
  content: '';
  background: url('../test/twitter.svg');
  display: inline-block;
  width: 0.8em;
  height: 0.8em;
  background-size: 0.7em 0.7em;
  background-repeat: no-repeat;
  background-position: 0 0.1em;
  margin-right: 0.1em;
}




.pswp h2 {
  font-size: 32px;
  line-height: 1.1;
  margin-bottom: 12px;
  font-weight: 600;
}

.pswp h3 {
  font-size: 22px;
  line-height: 28px;
  margin: 0 0 8px 0;

  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
}
.pswp strong{
  font-weight: 600;
}
span.highlight {
  background:rgb(246, 243, 226);
}
.title-block p {
    font-size: 22px;
  line-height: 28px;
  max-width: 600px;
  margin-bottom: 24px;

}

p, ul.text-list {
  color: #444;
}
.section--head p,
.title-block p {
  color: #666;
}




.title-block p {
  font-size: 19px;
  line-height: 29px;
}





.section {
  width: 100%;
  margin-top: 176px;
}
.docs {
  margin-top: 60px;
}
.section--head {
  margin: 0;
  background: #EEE;
  /*background: linear-gradient(180deg, #eee 0%,#fff 100%);*/
  padding: 132px 0;
}


.pswp .row {
  max-width: 800px;
  margin: 24px auto;
  padding: 0 30px;
  position: relative;
}

.row--docs {
  max-width: 960px;
  padding-left: 210px;
}
.row--heading {
  margin-top: 0;
  margin-bottom: 0;
}
.row--footer {
  text-align: center;
  padding: 132px 0;
}
.row--wide {
  max-width: 1000px;
}
.row--video {
  max-width: 1160px;
}

.row--wide img {
  float: left;
  margin: 0 12px 12px 0;
  width: 200px;
}
img.img--with_border {
  border: 1px solid #DDD;
  border-radius: 2px;
}
.img-desc {
  margin-left: 212px;
}




/*.main-wrapper {
  background: none;
	width: 100%;
  padding-top: 0;
  
}
.content-wrap {
  


}*/


/* clearfix */
.pswp .row:after{
  content: " "; 
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
.row--large {
  margin-bottom: 48px;
}


.section--head h1 a {
  vertical-align: super;
  font-size: 14px;
  text-decoration: none;
}

/*p.intro {
  margin-top: 24px;
  font-size: 18px;
  line-height: 24px;
}*/







.col-50 {
  width: 48%;
  float: left;
}
.col-50:nth-child(1) {
  margin-right: 4%;
}
.col-img {
  width: auto;
  max-width: 100%;
  height: auto;
}

.style-select {
  width: 100%;
  float: left;
}
.style-select .radio {
  position: relative;
  margin-bottom: 12px;
  display: block;
  float: left;
  width: 100%;
}
.style-select label {
  padding-left: 24px;
  position: relative;
  display: block;
  cursor: pointer;
}
.style-select input {
  position: absolute;
  left:0;
  top:0;
  width:24px;
  height:24px;
  overflow:hidden;
  margin:0;
  padding:0;
  border:0;
  outline:0;
  opacity:0;
  cursor: pointer;
  
}
.style-select input + label:before {
  content: '';
  position: absolute;
  left:0;
  top:4px;
  background: none;
  border-radius: 50%;
  width:16px;
  height:16px;
  box-sizing: border-box;
  border: 2px solid rgba(0,0,0,0.6);
}
.radio:hover label:before {
  border-color: #3169B3;
}
.style-select input:checked + label:before {
  border-color: #3169B3;
}
.style-select input:checked + label:after {
  content: '';
  position: absolute;
  left: 5px;
  top: 9px;
  width:6px;
  height: 6px;
  background: #3169B3;
  border-radius: 50%;
}

/*.section--developers {
  color: #FFF;
  background: #222;
  background: #1f1f1f;
  padding: 80px 0;
}
.section--developers a {
  color:#FFFFFF;
}
.section--developers p,
.section--developers  ul.text-list {
  color: #ddd;
}
.section--developers .section--head p,
.section--developers .title-block p {
  color: #ddd;
}*/

.row--modules ul {
  list-style: none;
  margin-left: 0;
  /*color: rgba(255, 255, 255, 0.8);*/
}
.row--modules span {
  font-wight:600;
  border-left:5px solid #FFF;
  padding-left:5px;
  margin-left:-10px;
}

.size-chart {
  width: 100%;
  display: inline-block;
}

.size-chart div {
  height: 21px;
  float: left;
  font-size: 13px;
  padding: 4px;
  line-height: 1;
}

.block__ui-separated {
  position: relative;
}
.block__ui-separated .col-50 {
  position: absolute;
  left: 0;
  top:12px;
}
.block__ui-separated img {
  float: right;
  max-width: 450px;
}


.demo-gallery {
  width: 100%;
  height: auto;
  float: left;
}
.demo-gallery a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  display: block;
  float: left;
  margin: 0 12px 12px 0;
  width: 171px;
  line-height: 0;
}



a.demo-gallery__img--main {
  width: auto;
  height: auto;
}

.ukraine-flag {
  width: 21px;
  height: 14px;
  position: relative;
  background: #ffcc00;
  top: 1px;
  display: inline-block;
}
.ukraine-flag:before {
 content:'';
 position: absolute;
 width: 21px;
 height: 7px;
 left:0;
 top:0;
 background: #0066cc;
}

.demo-gallery figure {
  display: none;
}
.demo-gallery__title {
  line-height: 14px;
  font-size: 14px;
  opacity: 0.8;
  margin-top: 5px;
  width: 100%;
  float: left;
}

.share-buttons h2 {
  text-align: center;
  border: 0;
  
}
.share-buttons {
  text-align: center;
  position: relative;
  margin: 0 0 24px;
}
.share-buttons a {
  -moz-border-radius: 2px;
  border-radius: 2px;
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  color: #FFF;
  text-decoration: none;
  background: #5AAF63;
  font-size: 16px;
  line-height: 22px;
  cursor: pointer;
}
.share-buttons a:hover {
  opacity: 0.7;
}
.pswp #tweet{
  background: #0096c4;
}
.pswp #like{
  background: #3b5998;
}
.pswp #gplus{
  background: #d34836;
}



@media screen and (max-width: 1000px) {

 

  .row--wide {
    max-width: 800px;
  }
  .row--wide img {
    float: none;
  }
  .img-desc {
    margin-left: 0;
  }
  .section {
    margin-top: 132px;
  }

  .row--docs {
    max-width: 800px;
    padding-left: 30px;

  }
  
  .section--head {
    margin-top:0;
    padding: 30px 0;
  }

  .docs {
    margin-top: 48px;
  }

  .docs-menu {
    position: relative;
    margin: 15px 0;
    left:0;
    top:0;
  }
  .docs-menu  ul {
    position: relative;
  }
  .docs-menu__ad {
    display: none;
  }

  .row--nav {
    font-size: 24px;
    line-height: 1.1; 
  }

}



@media screen and (max-width: 650px) {
   .pswp h1 {
    font-size: 40px;
  }
  .block__ui-separated .col-50 {
    position: relative;
    top: 0;
  }
  .block__ui-separated img {
    max-width: 100%;
    width: 100%;
    float: left;
  }
}

@media screen and (max-width: 450px) {
  

  .col-50:nth-child(1) {
    margin-right: 0;
  }
  .row--wide img {
    margin-bottom: 6px;
  }
  .col-50 {
    width: 100%;
    margin-bottom: 12px;
  }
  .pswp .row {
    padding: 0 18px;
  }
  .docs .highlight,
  .codepen-embed {
    padding-left: 18px;
    padding-right: 18px;
    margin-left: -18px;
  }
  .section {
    margin-top: 88px;
  }
  .docs {
    margin-top: 32px;
  }
  .section--head {
    margin-top:0;
    padding: 24px 0;
  }
  .row--nav {
    font-size: 18px;
    line-height: 26px; 
  }


}

@media screen and (max-width: 700px) {

  .row--nav {
    font-size: 18px;
    line-height: 26px; 
  }

  .demo-gallery {
    max-width: 500px;
  }
  .demo-gallery a {
    width: 120px;
    margin: 0 4px 4px 0;
  }
  a.demo-gallery__img--main {
    width: 164px;
  }
  .section--head p {
    font-size: 18px;
    line-height: 24px;
  }
}

/*@media screen and (max-width: 490px) {
  .demo-gallery a {
    width: 100px;
    margin: 0 4px 4px 0;
  }
  a.demo-gallery__img--main {
    width: 137px;
  }
}
*/


@media screen and (max-width: 450px) {
  .demo-gallery a {
    width: 95px;
    margin: 0 1px 1px 0;
  }
  a.demo-gallery__img--main {
    width: 127px;
  }
}


@media screen and (max-width: 350px) {
  .demo-gallery a {
    width: 81px;
margin: 0 1px 1px 0;
  }
  a.demo-gallery__img--main {
    width: 109px;
  }
}





